@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header {
    background-color: black;
    color: white;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            a {
                color: white;
            }
        }

        ul {
            display: flex;
            align-items: center;

            li {
                a {
                    padding: 0.5rem 1rem;
                    color: white;
                }
            }
        }
    }
}

footer {
    background-color: black;
    color: white;
    padding: 1rem 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.page-wrapper {
    min-height: calc(100vh - 66px - 98px);
}